.about_us_section_container {
  @apply flex flex-col items-center justify-center w-full;
}

.about_us_section_content {
  @apply relative w-full py-8 md:py-16 flex flex-col items-center justify-center text-white px-4 md:px-6;
  box-shadow: 4px 4px 4px 3px rgba(79, 218, 129, 0.2);
  border: 1px solid #0c3c5d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.about_us_section_content_inner_bg {
  @apply absolute inset-0 bg-black bg-[#0C3C5D]/60;
}

.about_us_section_content_inner {
  @apply relative z-10 max-w-4xl mx-auto text-center px-4;
}

.about_us_section_content_inner_title {
  @apply text-3xl md:text-4xl lg:text-6xl mb-4;
}

.about_us_section_content_inner_text {
  @apply text-xl md:text-2xl lg:text-3xl mb-6 md:mb-10 font-normal;
}

.about_us_section_content_inner_text span {
  @apply mr-2 font-bold capitalize;
}

.about_us_section_content_inner_div {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-8;
}

.about_us_section_content_inner_div_card {
  @apply flex flex-col items-center p-4;
}

.about_us_section_content_inner_div_card_icon {
  @apply w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 mb-3 md:mb-4;
}

.about_us_section_content_inner_div_card_title {
  @apply text-lg md:text-xl font-normal text-center;
}
